{% extends "base.html" %}
{% load static %}

{% block title %}Contact - Viksit47{% endblock %}

{% block content %}

<!-- Start Breadcrumb -->
<div class="breadcrumb-area shadow dark text-center bg-fixed text-light" 
     style="background-image: url('{% static "img/1.jpg" %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Us</h1>
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Contact Info -->
<div class="contact-info-area default-padding">
    <div class="container">
        <div class="contact-info">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="item"style="height:260px">
                        <div class="icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="info">
                            <h4>Call Us</h4>
                            <span><a href="tel:+918217413646">+91 82174 13646</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item" style="height:260px">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="info">
                            <h4>Address</h4>
                            <span>viksit47 Academy Building Beside Main Road Hiredonkihalli Talakere post, Karnataka - 572221</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item"style="height:260px">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="info">
                            <h4>Email Us</h4>
                            <span><a href="mailto:viksit47academy@gmail.com">viksit47academy@gmail.com</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="seperator col-lg-12">
                <span class="border"></span>
            </div>

            <!-- Maps & Contact Form -->
            <div class="maps-form">
                <div class="row">
                    <div class="col-lg-6 maps">
                        <h3>Our Location</h3>
                        <div class="google-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.091673187839!2d76.74617359999999!3d13.1566172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bafe10b7efaafd7%3A0x9d8a38c353ac24f0!2sviksit47%20Academy!5e0!3m2!1sen!2sin!4v1757560033605!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                    <div class="col-lg-6 form">
                        <div class="heading">
                            <h3>Contact Us</h3>
                            <p>
                                Have questions or need assistance? We’re here to help. 
                                Reach out to our team and we’ll get back to you as soon as possible. 
                                Let’s connect and discuss how we can support your requirements.
                            </p>
                        </div>
                            
                        <form action="{% url 'contact' %}" method="POST" class="contact-form">
                            {% csrf_token %}
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group comments">
                                        <textarea class="form-control" id="comments" name="comments" placeholder="Enter your message or inquiry"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button type="submit" name="submit" id="submit">
                                    Send Message <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>

                            <!-- Alert Message -->
                            <div class="col-lg-12 alert-notification">
                                <div id="message" class="alert-msg"></div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- End Maps & Contact Form -->

        </div>
    </div>
</div>
<!-- End Contact Info -->

{% endblock content %}
